<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<mapping class="br.ufjf.egresso.model.Administrador" />
		<mapping class="br.ufjf.egresso.model.Aluno" />
		<mapping class="br.ufjf.egresso.model.Atuacao" />
		<mapping class="br.ufjf.egresso.model.Postagem" />
		<mapping class="br.ufjf.egresso.model.TipoAtuacao" />
		<mapping class="br.ufjf.egresso.model.Turma" />
		<mapping class="br.ufjf.egresso.model.Interesse" />
		<mapping class="br.ufjf.egresso.model.Curso" />

	</session-factory>
</hibernate-configuration>